In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

You are a professional data scientist. Answer the following questions using pandas and matplotlib.

# Metadata

* Task 1 (`list` output): Which countries host at least two olympic games?
* Task 2 (double outputs): How many male and female employees are born in 1992?
* Task 3 (ambiguous concept): Get the students with an averaged score above 90 for science subjects.
* Task 4 (simple one-liner): What is the population of California?
* Task 5 (wrangling+visualization): Make a new column "grade" for letter grades (A: `90+`, B: `70-90`, C: `<70`) and plot the number of students in each grade.
* Task 6 (`argmax`): What is the most expensive phone in each brand.

# Exercise 1

In [ ]:
# Data Defination (olympics.csv)
df = pd.DataFrame([
    {'Year': 1896, 'City': 'Athens', 'Country': 'Greece', 'Nations': 14},
    {'Year': 2008, 'City': 'Beijing', 'Country': 'China', 'Nations': 103},
    {'Year': 2020, 'City': 'Tokyo', 'Country': 'Japan', 'Nations': 80},
    {'Year': 2022, 'City': 'Tokyo', 'Country': 'Japan', 'Nations': 80}
])

Task: Which countries host at least two olympic games?

In [ ]:
### Type: short
count_df = df['Country'].value_counts()
count_df[count_df >= 2].index.tolist()

In [ ]:
### Type: step
# Step 1: Count the number of times each country hosted olympics
count_df = df['Country'].value_counts()
# Step 2: Find entries with more than 2 counts
filtered_df = count_df[count_df >= 2]
# Step 3: Get the country names as a list
filtered_df.index.tolist()

# Exercise 2

In [ ]:
# Data Defination (employee.csv)
df = pd.DataFrame([
    {'name': 'Peter', 'gender': 'm', 'DOB': '1992/01/17'},
    {'name': 'Joe', 'gender': 'm', 'DOB': '1991/03/23'},
    {'name': 'Amy', 'gender': 'f', 'DOB': '1993/08/30'},
])

Task: How many male and female employees are born in 1992?

In [ ]:
### Type: short
df['DOB'] = pd.to_datetime(df['DOB'])
num_male_students = len(df[(df['DOB'].dt.year == 1992) & (df['gender'] == 'm')])
num_female_students = len(df[(df['DOB'].dt.year == 1992) & (df['gender'] == 'f')])

In [ ]:
### Type: step

# Step 1: convert date of birth in to datetime
df['DOB'] = pd.to_datetime(df['DOB'])
# Step 2: get the number of male born in 1992
num_male_students = len(df[(df['DOB'].dt.year == 1992) & (df['gender'] == 'm')])
# Step 3: get the number of female born in that year
num_female_students = len(df[(df['DOB'].dt.year == 1992) & (df['gender'] == 'f')])

# Exercise 3

In [ ]:
# Data Defination (scores.csv)
df = pd.DataFrame([
    {'Stu_Name': 'Mike', 'Engineering': 90, 'English': 89, 'Math': 92},
    {'Stu_Name': 'John', 'Engineering': 87, 'English': 76, 'Math': 85},
    {'Stu_Name': 'Justin', 'Engineering': 40, 'English': 93, 'Math': 90}
])

Task: Get the students with an averaged score above 90 for science subjects.

In [ ]:
### Type: short
df['Science_Avg'] = (df['Engineering'] + df['Math']) / 2
df[df['Science_Avg'] > 90][['Stu_Name', 'Science_Avg']]

In [ ]:
### Type: cla
# Solution: assume "science subjects" means engineering and math. Return a dataframe with student names and their average scores.
df['Science_Avg'] = (df['Engineering'] + df['Math']) / 2
df_score_above_90 = df[df['Science_Avg'] > 90]
result = df_score_above_90[['Stu_Name', 'Science_Avg']]

In [ ]:
### Type: step

# Step 1: Create a new column with the average score of engineering and math
df['Science_Avg'] = (df['Engineering'] + df['Math']) / 2
# Step 2: Get the rows whose average score is above 90
df_score_above_90 = df[df['Science_Avg'] > 90]
# Step 3: Return the student name and average scores
result = df_score_above_90[['Stu_Name', 'Science_Avg']]

# Exercise 4

In [ ]:
# Data Defination (geo.csv)
df = pd.DataFrame([
    {'state': 'WA', 'capital': 'Seattle', 'population': '1.4 millon'},
    {'state': 'PA', 'capital': 'Pittsburgh', 'population': '2 millon'},
    {'state': 'CA', 'capital': 'Sacramento', 'population': '3.31 millon'},
])

Task: What is the population of California?

In [ ]:
### Type: short
result = df[df['state'] == 'CA']['population']

In [ ]:
### Type: step
result = df[df['state'] == 'CA']['population']

# Exercise 5

In [ ]:
# Data Defination (score.csv)
df = pd.DataFrame([
    {'name': 'John', 'score': 97},
    {'name': 'Peter', 'score': 82},
    {'name': 'Justin', 'score': 66},
])

Task: Make a new column "grade" for letter grades (A: 90+, B: 70-90, C: <70) and plot the number of students in each grade.

In [ ]:
### Type: short
df['grade'] = df.score.apply(lambda x: 'A' if x >= 90 else ('B' if 70 <= x < 90 else 'C'))
df.grade.value_counts().plot(kind='bar')

In [ ]:
### Type: step
# Step 1: Define a function to convert scores to letter grades.
def get_grade(score):
  if score >= 90:
    return 'A'
  elif 70 <= score < 90:
    return 'B'
  else:
    return 'C'
# Step 2: Convert scores to letter grades.
df['grade'] = df.score.apply(get_grade)
# Step 3: Count the number of students by grade.
count_df = df['grade'].value_counts()
# Step 4: Visualize in a bar chart.
count_df.plot(kind='bar')

# Exercise 6

In [ ]:
# Data Defination (phones.csv)
df = pd.DataFrame([
    {'model': 'Pixel 6', 'brand': 'Google', 'price': 387, 'release': 2022},
    {'model': 'iPhone', 'brand': 'Apple', 'price': 998, 'release': 2003},
    {'model': 'Pixel 4', 'brand': 'Google', 'price': 788, 'release': 2021},
])

Task: What is the most expensive phone in each brand.

In [ ]:
### Type: short
df.loc[df.groupby('brand')['price'].idxmax()][['brand', 'model', 'price']]

In [ ]:
### Type: step
# Step 1: Group models by their brands.
model_by_brand_df = df.groupby('brand')
# Step 2: Find the index of rows that have the highest price in each group
idx = model_by_brand_df['price'].idxmax()
# Step 3: Get the rows using the index
expensive_models_df = df.loc[idx]
# Step 4: Return the brand name, model and price.
result = expensive_models_df[['brand', 'model', 'price']]